<div class="container">
    <mat-card class="login-card">
        <form class="login-form-container" [formGroup]="loginFormGroup" (ngSubmit)="login()">

            <h1 class="form-title">
                Login
            </h1>

            <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">

            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>

            <button mat-button type="submit">Enter</button>
        </form>
    </mat-card>

    <button mat-button type="button" (click)="goToRegister()">Create Account</button>
</div>