.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.register-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: none;
}

.register-form-container {
    display: flex;
    flex-direction: column;
}