<div class="container">
    <mat-card class="register-card">
        <div class="pokeball-image">
            <img src="pokeball.jpg"
                 width="100"
                 height="100">
        </div>
        <form class="register-form-container"
              [formGroup]="registerFormGroup"
              (ngSubmit)="register()">
            <h1 class="form-title">
                Register
            </h1>
            <mat-form-field>
                <input matInput
                       placeholder="Name"
                       formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       placeholder="Email"
                       formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       placeholder="Password"
                       type="password"
                       formControlName="password">
            </mat-form-field>
            <button mat-button
                    class="register-button"
                    type="submit">Create account</button>
        </form>
    </mat-card>

</div>