.stats {
  display: flex;
  flex-direction: column;

  &> .images {
    display: flex;
  }
}

.health-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  padding: 10px 0;
  
  .value {
    color: #fff;
    position: absolute;
  }
}

.health {
  width: 75%;
  height: 20px;
  background-color: #66923d;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 50px 50px 50px;
  height: calc(100vh - 200px);

  .upper {
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: space-between;

    .log {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .box-container {
        width: 70%;
        height: 70%;

        ul {
          list-style-type: none;
        }

        .box-header {
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f8f7f7;
          font-size: 18px;
          color: #646464;
          font-family: "Roboto", sans-serif;
        }

        .box {
          height: 100%;
          border: 2px solid #f5f2f0;
          overflow: auto;
        }
      }
    }

    .enemy-stats {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .lower {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .my-stats {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .trainer-image,
      .pokemon-image {
        transform: scaleX(-1);
      }
    }

    .my-abilities {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .abilities-container {
        display: flex;
        flex-direction: row;

        .ability-container {
          margin-right: 20px;

          &:hover {
            cursor: pointer;
          }

          &.selected:not(.disabled) {
            border: 2px solid black;
          }

          &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }

        .ability-header {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f8f7f7;
          font-size: 12px;
          color: #646464;
          font-family: "Roboto", sans-serif;
          padding: 5px;
        }

        .ability-image-container {
          height: 100px;
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          .ability-image {
            height: 120px;
          }
        }
      }
    }
  }

}

.my-stats,
.enemy-stats {
  display: flex;
}

.trainer-image {
  height: 200px;
}

.pokemon-image {
  height: 150px;
}

.use-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
