<div class="container">
  <div class="upper">

    <div class="log">
      <div class="box-container">
        <div class="box-header">
          Battle log
        </div>
        <div #box class="box">
          <ul>
            <li *ngFor="let comentary of comentaries">
              {{comentary.body}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="enemy-stats stats" *ngIf="enemyPokemon">
      <div class="health-container">
        <span class="value">{{enemyHealth}}</span>
        <progress class="health" [value]="enemyHealth" [max]="enemyMaxHealth"></progress>
      </div>
      <div class="images">
        <div class="challenger-pokemon-details">
          <div class="image-container" [@shakeit]="myEnemyState" [@dead]="myEnemyDeadState">
            <img class="pokemon-image" [class.active-pokemon]="!isMeActivePlayer" [src]="'data:image/png;base64,'+ enemyPokemon.image">
          </div>
        </div>
        <div class="challenger-trainer-details">
          <div class="image-container">
            <img class="trainer-image" src="assets/pictures/images.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lower">
    <div class="my-stats stats" *ngIf="myPokemon">
      <div class="images">
        <div class="challenger-trainer-details">
          <div class="image-container">
            <img class="trainer-image" src="assets/pictures/images.jpg">
          </div>
        </div>
        <div class="challenger-pokemon-details">
          <div class="image-container" [@shakeit]="myCurrentState" [@dead]="myCurrentDeadState">
            <img class="pokemon-image" [class.active-pokemon]="isMeActivePlayer" [src]="'data:image/png;base64,'+ myPokemon.image">
          </div>
          <div class="pokemon-details-container">
            <span>Pokemon Level: {{myPokemon.level}}</span>
          </div>
        </div>
      </div>
      <div class="health-container">
        <span class="value">{{myHealth}}</span>
        <progress class="health" [value]="myHealth" [max]="myMaxHealth"></progress>
      </div>
    </div>

    <div class="my-abilities">
      <div class="choices-container">
        <div class="abilities-container" *ngIf="myPokemon">
          <div *ngFor="let ability of abilities; let i=index">
            <div class="ability-container"
              matTooltip='{{ability.description}} Required level: {{ability.requiredLevel}}'
              [ngClass]="{selected: selectedAbilityIndex === i, disabled: myPokemon.level < ability.requiredLevel}"
              (click)="selectAbility(i)">
              <div class="ability-header">
                <span>{{ability.name}}</span>
              </div>
              <div class="ability-image-container">
                <span class="cooldown" *ngIf="ability.cooldown > 0">{{ability.cooldown}}</span>
                <img class="ability-image" [class.on-cooldown]="ability.cooldown > 0" [src]="'data:image/png;base64,'+ ability.image">
              </div>
            </div>
          </div>
        </div>
        <div class="use-button">
          <button mat-raised-button [disabled]="selectedAbilityIndex === undefined" (click)="attack()">
            Use
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
