<div class="container">
  <mat-card *ngFor="let arena of arenas" class="arena-card" (click)="openPopup(arena)">
      <div class="image-container">
          <img class="arena-image" src="../../../../../../assets/pictures/d4ghrom-3d3fdbdf-47bb-4e83-b32c-0a8ac6091bc1.png">
      </div>

      <span class="arena-details"><b>{{arena.name}}</b></span>
      <span class="arena-details">Required level is <b>{{arena.requiredLevel}}</b></span>
      <span class="arena-details"><b>{{arena.trainers.length}}</b> players here</span>
  </mat-card>
</div>