<div class="container">
  <div class="title">
    <h2>{{ data.name }}</h2>
  </div>
  <div class="content">
    <div class="image-container">
      <img
        class="pokemon-image"
        mat-card-image
        [src]="'data:image/png;base64,' + this.data.images[0].contentImage"
        [alt]="this.data.name"
      />
    </div>
    <div class="stats-container">
      <div class="stats-title">
        <h4>Stats:</h4>
      </div>
      <div class="stats">
        <div class="state">
          Health: {{ this.data.stats.health }}
        </div>
        <div class="state">
          Defense: {{ this.data.stats.defense }}
        </div>
        <div class="state">
          Dodge Chance: {{ this.data.stats.dodgeChance }}
        </div>
        <div class="state">
          Attack Power: {{ this.data.stats.attackPower }}
        </div>
        <div class="state">
          Critical Strike Chance: {{ this.data.stats.criticalStrikeChance }}
        </div>
      </div>
    </div>
    <div class="abilities-container">
      <div class="abilities-title">
        <h4>Abilities:</h4>
      </div>
      <div class="abilities">
        <div *ngFor="let ability of this.data.abilities" class="card-ability">
          <img
            *ngIf="ability.abilityImage"
            class="ability-image"
            [src]="'data:image/png;base64,' + ability.abilityImage.contentImage"
          /> 
          <div class="ability">Ability: {{ ability.name }}</div>
          <div class="ability">Description: {{ ability.description }}</div>
          <div class="ability">Required Level: {{ ability.requiredLevel }}</div>
          <div class="ability">Damage: {{ ability.damage }}</div>
          <div class="ability">Cooldown: {{ ability.cooldown }}</div>
      </div>
    </div>
  </div>
</div>