@import url('https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/css/ol.css');
::ng-deep {
    app-pokemon-map {
        width: 100%;
    }
}

.map {
    width: 100%;
    height: calc(100vh - 82px);
}

.loader {
    height: calc(100vh - 82px);
    width: calc(100% - 225px);
    position: absolute;
    top: 0;
    left: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.tooltip {
    width: 70px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tooltip:hover {
    cursor: pointer;
}