<div class="header">
  <div class="title">Welcome to {{ arenaDetails?.name }}</div>

  <div class="buttons">
    <button mat-flat-button color="primary" (click)="toggleAutoMode()">
      Toggle auto mode
    </button>

    <button
      class="challanges"
      mat-flat-button
      color="accent"
      routerLink="/home/arena/{{ arenaDetails?.id }}/challenges"
      matTooltip="Here you can see if someone has challenged you"
    >
      <mat-icon svg-icon="">notifications</mat-icon>
      Challenges
    </button>
    <button class="battles" mat-flat-button color="warn" disabled>
      <mat-icon>gavel</mat-icon>
      Battles
    </button>
  </div>
</div>

<div class="container" *ngIf="arenaDetails">
  <mat-card *ngFor="let trainer of arenaDetails.trainers" class="trainer-card">
    <div class="trainer-details">
      <span class="trainer-name">{{ trainer.name }}</span>

      <div class="image-container">
        <img class="trainer-image" src="assets/pictures/images.jpg" />
      </div>

      <!-- <span class="trainer-joined-at">{{
        trainer.joinedAt | date: "medium"
      }}</span> -->
    </div>
    <div class="pokemons-container" *ngIf="pokemons">
      <div
        class="pokemons-details"
        matTooltip="Challenge {{ pokemon.name }}"
        *ngFor="let pokemon of getPokemons(trainer.id)"
      >
        <header>{{ pokemon.name }}({{ pokemon.level }})</header>
        <div class="image-container">
          <img
            class="pokemon-image"
            [src]="'data:image/png;base64,' + pokemon.image"
            (click)="initChallenge(trainer, pokemon)"
          />
        </div>
      </div>
    </div>
  </mat-card>
</div>
