.container {
    width: 100%;
    height: calc(100vh - 82px);
    align-content: baseline;
    background-position: 0;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

.trainer-card {
    height: 220px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 10px 10px 0 10px;

    .trainer-details {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .pokemons-details {
        height: 100%;
        width: 100%;
        margin-left: 20px;
        cursor: pointer;
    }
}

.image-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10px;
}

.trainer-image, .pokemon-image {
    max-height: 110px;
    width: auto;
}

.pokemons-container {
    display: flex;
    flex-direction: row;
    border-left: 2px solid #F5F2F0;
}
