@page
@model Pokens.Pokedex.Office.Pages.Pokemons.ChangeImagesModel
@{
    ViewData["Title"] = "ChangeImages";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <h1>View and Add/Delete Images To @Model.PokemonChosen.Name</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Images For @Model.PokemonChosen.Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PokemonChosen.Images)
            {
                <tr>
                    <td>
                        <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.ContentImage))" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input class="form-control" type="file" name="pic" accept="image/*" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add a new Image" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="/Pokemons/All">Back to List</a>
</div>

