<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PomeloFeed" value="https://tfs-verdeanu.pkgs.visualstudio.com/Pomelo/_packaging/PomeloFeed/nuget/v3/index.json" />
  </packageSources>
   <packageSourceCredentials>
      <PomeloFeed>
          <add key="Username" value="anything" />
          <add key="ClearTextPassword" value="c6n7ip36mfhej3345p4tym6eebdc4ykntt6zs57aglccp5sgpxca" />
      </PomeloFeed>
  </packageSourceCredentials>
</configuration>